node-red-app-IBM-Berlin-Bikini.json
[{"id":"62dbc22c.ad890c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ad9cad6c.f834f","type":"inject","z":"62dbc22c.ad890c","name":"","topic":"","payload":"what about the weather","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":168,"y":86,"wires":[["7aaab95.21f4648"]]},{"id":"6022afb5.97c83","type":"debug","z":"62dbc22c.ad890c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":652,"y":152,"wires":[]},{"id":"7aaab95.21f4648","type":"watson-conversation-v1","z":"62dbc22c.ad890c","name":"","workspaceid":"a42e72a3-8dd7-4735-996e-d43d0411ed05","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":411,"y":150,"wires":[["6022afb5.97c83","c2bc4489.3e61e8","fa45cee0.a855d","d2dc4c90.de0e1","56e37da4.0f2d04","71a24096.1b892"]]},{"id":"c2bc4489.3e61e8","type":"ui_text","z":"62dbc22c.ad890c","group":"1a6ab5.574c754c","order":1,"width":"15","height":"2","name":"Output from Watson Assistant","label":"","format":"{{msg.payload.output.text}}","layout":"col-center","x":709,"y":209,"wires":[]},{"id":"d40ca816.c69338","type":"ui_text_input","z":"62dbc22c.ad890c","name":"","label":"Input for Watson Assistant","tooltip":"","group":"511fd1a8.2cfb2","order":1,"width":"6","height":"1","passthru":true,"mode":"text","delay":"500","topic":"","x":151,"y":149,"wires":[["7aaab95.21f4648","44d66dfb.6501c4"]]},{"id":"fa45cee0.a855d","type":"ui_template","z":"62dbc22c.ad890c","group":"1a6ab5.574c754c","name":"Show Image if included.","order":2,"width":"12","height":"9","format":"<p> Image: <img width=\"100\" height=\"100\" src= {{msg.payload.output.generic[1].source}} alt='Image not found' /> </p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":689,"y":262,"wires":[[]]},{"id":"d2dc4c90.de0e1","type":"ui_text","z":"62dbc22c.ad890c","group":"6b2da8e6.088e08","order":2,"width":0,"height":0,"name":"","label":"Intend detected:","format":"{{msg.payload.intents[0].intent}}","layout":"col-center","x":664,"y":344,"wires":[]},{"id":"56e37da4.0f2d04","type":"ui_gauge","z":"62dbc22c.ad890c","name":"","group":"6b2da8e6.088e08","order":1,"width":"3","height":"3","gtype":"gage","title":"Confidence Level","label":"","format":"{{msg.payload.intents[0]. confidence}}","min":0,"max":"1","colors":["#b50c1c","#e6e600","#03ca0e"],"seg1":"","seg2":"","x":672,"y":399,"wires":[]},{"id":"44d66dfb.6501c4","type":"watson-language-translator-identify","z":"62dbc22c.ad890c","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":155,"y":288,"wires":[["148111e6.689b1e","f5fb7a5f.b4a0e8","27011170.5ab4de"]]},{"id":"148111e6.689b1e","type":"ui_gauge","z":"62dbc22c.ad890c","name":"","group":"6b2da8e6.088e08","order":4,"width":"3","height":"3","gtype":"gage","title":"Language confidence","label":"units","format":"{{msg.languages[0].confidence}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca0623"],"seg1":"","seg2":"","x":255,"y":431,"wires":[]},{"id":"f5fb7a5f.b4a0e8","type":"ui_text","z":"62dbc22c.ad890c","group":"6b2da8e6.088e08","order":3,"width":0,"height":0,"name":"","label":"Languaged detected","format":"{{msg.languages[0].language}}","layout":"row-spread","x":258,"y":392,"wires":[]},{"id":"27011170.5ab4de","type":"switch","z":"62dbc22c.ad890c","name":"","property":"languages[0].language","propertyType":"msg","rules":[{"t":"eq","v":"en","vt":"str"},{"t":"eq","v":"de","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":201,"y":480,"wires":[["7da19b3c.9dff64"],["9d9b61f4.3a0da"]]},{"id":"7e0baba6.155a94","type":"debug","z":"62dbc22c.ad890c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":472,"y":474,"wires":[]},{"id":"3ab64798.083d48","type":"debug","z":"62dbc22c.ad890c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":473,"y":513,"wires":[]},{"id":"7da19b3c.9dff64","type":"function","z":"62dbc22c.ad890c","name":"","func":"msg.payload=\"we should communicate in english\"\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":474,"wires":[["7e0baba6.155a94"]]},{"id":"9d9b61f4.3a0da","type":"function","z":"62dbc22c.ad890c","name":"","func":"msg.payload=\"wir sollten jetzt auf deutsch kommunizieren\"\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":514,"wires":[["3ab64798.083d48"]]},{"id":"adf6d141.5d34a","type":"debug","z":"62dbc22c.ad890c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":708,"wires":[]},{"id":"6ec6811b.3a055","type":"http request","z":"62dbc22c.ad890c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://twcservice.mybluemix.net/api/weather/v1/geocode/52.520008/13.404954/observations.json?language=de-DE","tls":"","proxy":"","authType":"basic","x":361,"y":709,"wires":[["6858c063.b4e78"]]},{"id":"6858c063.b4e78","type":"function","z":"62dbc22c.ad890c","name":"","func":"return {payload:msg.payload.observation.temp};","outputs":1,"noerr":0,"x":521,"y":709,"wires":[["adf6d141.5d34a"]]},{"id":"71a24096.1b892","type":"switch","z":"62dbc22c.ad890c","name":"","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"weather","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":626,"y":591,"wires":[["6ec6811b.3a055"]]},{"id":"1a6ab5.574c754c","type":"ui_group","z":"","name":"Output Data","tab":"cedd71f5.8f99e","order":2,"disp":true,"width":"15","collapse":false},{"id":"511fd1a8.2cfb2","type":"ui_group","z":"","name":"Input Data","tab":"cedd71f5.8f99e","order":1,"disp":true,"width":"6","collapse":false},{"id":"6b2da8e6.088e08","type":"ui_group","z":"","name":"Watson Status Info","tab":"cedd71f5.8f99e","order":3,"disp":true,"width":"4","collapse":false},{"id":"cedd71f5.8f99e","type":"ui_tab","z":"","name":"Watson Assistant Demo","icon":"dashboard","order":1,"disabled":false,"hidden":false}]